p.one {
    border: 1px solid black;
    padding: 3em;
    margin:  1em;
    margin-bottom: 0em;
}
.two{
    border: 1px solid black;
    padding: 0em;
    margin: 0em 5em 5em 5em;
}

.three{
    border-right: 3px solid black;
    border-left: 4px solid black;
    padding: 0em 1em 1em 1em;
    margin: 2em 0em 8em 0em;
}
.four{
   margin:5px;
   border-style: dashed;
   border-color: red;
   border-radius: 1em;
}