table, th, td {
   border-collapse: collapse;
}
caption{
    border-bottom-width: opx;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 900
}
#firstRow{
    background-color: red;
    color: white;
}
th:nth-child(1) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
th:nth-child(4) {
    border-right: 1px solid black;
}
td:nth-child(1){
    border-right: 1px solid black;
    border-left: 1px solid black;
}
td:nth-child(4){
    border-right: 1px solid black;
}
tr:nth-child(2) {
    background-color: #f2f2f2
}
tr:nth-child(3){
    border-bottom: 1px solid black;
}