section {
  float: left;
  width: 25%;
}
aside {
  float: right;
  width: 50%;
}
footer{
    clear: both;
    text-align: center;
    margin-top:10px;
}
header{
    text-align: center;
}
h1, h2, h3{
    color: blue;
}
thead{
    background-color: gray;
}
caption{
    font-size: 25px;
    font-weight: bold;
}
