body {
    font-family: Arial, Verdana, sans-serif;
}

p {
    color: blue;
}

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

p#unique {
    font-size: 0.8em;
}
p.alert{
    text-decoration: underline;
}
#code{
    background-color: black;
    color: white;
}
