body {
    font-family: Arial, Verdana, sans-serif;
    background-color: gray;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}
h1 {
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
    border-style:solid;
    border-width: 3px;
}
li{
    color: DarkGrey;
}
p,ul,ol {
    text-indent: 50px;
}
figure>figcaption{
    font-size: 10px;
    font-weight: bold;
}

p.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}